# Server
PORT=5050
NODE_ENV=development
CLIENT_URL=http://localhost:3000

# Database
DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DATABASE

# JWT
JWT_ACCESS_SECRET_KEY=your_super_secret_key
JWT_ACCESS_EXPIRE_TIME=7d

# Cloudinary (for file uploads)
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Initial Manager Credentials (seed)
MANAGER_EMAIL=manager@company.com
MANAGER_PASSWORD=securepassword
